[tasks."ui:install"]
script = '''
cd frontend
npm i
'''

[tasks."ui:dev"]
script = '''
cd frontend
npm run dev
'''

[tasks."ui:build"]
script = '''
cd frontend
npm run build
'''

[tasks."sui:build"]
script = '''
cd contract
sui move build
'''

[tasks."sui:deploy"]
script = '''
cd contract
sui client publish --gas-budget 123456789 --skip-dependency-verification
'''

[tasks."sui:mint"]
script = '''
cd contract
PACKAGE=0x9de53f0f8671835352cbaf51a3b7beafeb39e074474e0755ffd67bc17af49341
sui client call \
    --package $PACKAGE \
    --module issuer \
    --function mint \
    --args \
        0x114526d99f997bf70c53928425cbc1cd406cf6e2fc24ced19a47a29c5ececce9 \
        0x6 \
        "Mazda Drive NFT" \
        "Web3 Global Hackathon for Mazda" \
        "https://pbs.twimg.com/profile_images/1538981748478214144/EUjTgb0v_400x400.jpg" \
    --gas-budget 123456789 \
'''

[tasks."sui:like"]
script = '''
cd contract
PACKAGE=0xf424e89f4461ebacf101eccf961a77de0a08a11772ece8123c7f284f34a954d4
sui client call \
    --package $PACKAGE \
    --module issuer \
    --function like \
    --args \
        0x983a24c706150b0f9fc5f2f781d7a52263e650c5b90a1c8f54286b7ed8858709 \
    --gas-budget 123456789
'''