[tasks."ui:install"]
script = '''
cd frontend
npm i
'''

[tasks."ui:dev"]
script = '''
cd frontend
npm run dev
'''

[tasks."ui:build"]
script = '''
cd frontend
npm run build
'''

[tasks."install:gen"]
script = '''
cargo install --locked --git https://github.com/kunalabs-io/sui-client-gen.git
'''

[tasks."gen:sui"]
script = '''
cd frontend/
npm run gen:sui
npm run lint
'''

[tasks."sui:build"]
script = '''
cd contract
sui move build
'''

[tasks."sui:deploy"]
script = '''
cd contract
sui client publish --gas-budget 123456789 --skip-dependency-verification
'''

[tasks."sui:mint"]
script = '''
cd contract
PACKAGE=0x8ec4fdebf532ef2c2f1dbfa4696291688e48a8b3ee78fa41ebfbe507fc166e94
NFT_INDEX=0x120acb7070ced9626a19dea4ad167dad9aca85438291604976519d1ce885a1cb
sui client call \
    --package $PACKAGE \
    --module issuer \
    --function mint \
    --args \
        0x6 \
        "Mazda Drive NFT" \
        "Web3 Global Hackathon for Mazda" \
        "https://pbs.twimg.com/profile_images/1538981748478214144/EUjTgb0v_400x400.jpg" \
    --gas-budget 123456789 \
'''

[tasks."sui:like"]
script = '''
cd contract
PACKAGE=0x8ec4fdebf532ef2c2f1dbfa4696291688e48a8b3ee78fa41ebfbe507fc166e94
NFT_ID=0x38ed9a601aab186bbc18be01f9cac3ccf06d24050ed8c00668064e9c86a12f2c
sui client call \
    --package $PACKAGE \
    --module issuer \
    --function like \
    --args \
        $NFT_ID \
    --gas-budget 123456789
'''